.header_text_center {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: #e0eff2;
  font: italic bold Georgia, Serif;
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
  -moz-transform: scale(1.1) skew(6deg, 9deg);
-webkit-transform: scale(1.1) skew(6deg, 9deg);
-o-transform: scale(1.1) skew(6deg, 9deg);
-ms-transform: scale(1.1) skew(6deg, 9deg);
transform: scale(1.1) skew(6deg, 9deg);
}

.header_text_center h1 {
  background: rgb(59, 177, 216);
  max-width: 700px !important;
  font-size: 3.8rem;
}